.header-descriptions { 
    height: 47px;
  
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    padding: 10px 2%;

    background-image: linear-gradient(rgba(147, 72, 26, 0.5),rgba(147, 72, 26,0.5));
}


.back-button-section,
.next-button-section{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

.back-button-section{
    margin-left: 10%;
    margin-bottom: 5px;
}

.next-button-section{
    margin-right: 10%;
    margin-bottom: 5px;
}

.homepage-button-section{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

.back-button-text, .next-button-text{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.6), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.back-button-text:hover, .next-button-text:hover{
	-webkit-text-stroke: 1px #4b4b46;
	color: transparent;
    transition: 0.3s;
}

.back-button-div:active, .next-button-div:active, .homepage-button-div:active{
    transform:translateY(4px);
}


.title-text-descriptions{
	-ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
	display: flex;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 2% 0;
	background-image: linear-gradient(rgba(147, 72, 26, 0.5),rgba(147, 72, 26,0.5));
}

.main-text-descriptions{
    margin-top: 10px;
} 

.title-of-image{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    
    padding-left: 2%;

    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 700;
    font-size: 29px;
    color: white;
}

.paragraph-text-descriptions{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;

    padding: auto;

    background-image: linear-gradient(rgba(147, 72, 26, 0.5),rgba(147, 72, 26,0.5));
}

.description-of-image{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;

    text-align: justify;
    
    font-family: 'Great Vibes', sans-serif;
    font-weight: 550;
    line-height: 55px;
   
}





